CrimeTime/Application/App_WebReferences/SSO/Internal1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="Internal" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IInternal_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Lax />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:SignedSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssUsernameToken10 />
              </wsp:Policy>
            </sp:UsernameToken>
          </wsp:Policy>
        </sp:SignedSupportingTokens>
        <sp:Wss10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportRefKeyIdentifier />
            <sp:MustSupportRefIssuerSerial />
          </wsp:Policy>
        </sp:Wss10>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://kylekilmerpc.nypti.org/Internal.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://kylekilmerpc.nypti.org/Internal.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://kylekilmerpc.nypti.org/Internal.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NYPTI.SSO" />
      <xsd:import schemaLocation="https://kylekilmerpc.nypti.org/Internal.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IInternal_AccountDetailsGetByEmail_InputMessage">
    <wsdl:part name="parameters" element="tns:AccountDetailsGetByEmail" />
  </wsdl:message>
  <wsdl:message name="IInternal_AccountDetailsGetByEmail_OutputMessage">
    <wsdl:part name="parameters" element="tns:AccountDetailsGetByEmailResponse" />
  </wsdl:message>
  <wsdl:message name="IInternal_AccountDetailsGetByAccountID_InputMessage">
    <wsdl:part name="parameters" element="tns:AccountDetailsGetByAccountID" />
  </wsdl:message>
  <wsdl:message name="IInternal_AccountDetailsGetByAccountID_OutputMessage">
    <wsdl:part name="parameters" element="tns:AccountDetailsGetByAccountIDResponse" />
  </wsdl:message>
  <wsdl:message name="IInternal_LoginTokenClaim_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginTokenClaim" />
  </wsdl:message>
  <wsdl:message name="IInternal_LoginTokenClaim_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginTokenClaimResponse" />
  </wsdl:message>
  <wsdl:message name="IInternal_LoginTokenCreate_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginTokenCreate" />
  </wsdl:message>
  <wsdl:message name="IInternal_LoginTokenCreate_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginTokenCreateResponse" />
  </wsdl:message>
  <wsdl:message name="IInternal_ServiceGrant_InputMessage">
    <wsdl:part name="parameters" element="tns:ServiceGrant" />
  </wsdl:message>
  <wsdl:message name="IInternal_ServiceGrant_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServiceGrantResponse" />
  </wsdl:message>
  <wsdl:message name="IInternal_ServiceRevoke_InputMessage">
    <wsdl:part name="parameters" element="tns:ServiceRevoke" />
  </wsdl:message>
  <wsdl:message name="IInternal_ServiceRevoke_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServiceRevokeResponse" />
  </wsdl:message>
  <wsdl:message name="IInternal_LogEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:LogEvent" />
  </wsdl:message>
  <wsdl:message name="IInternal_LogEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogEventResponse" />
  </wsdl:message>
  <wsdl:message name="IInternal_SetRequestData_InputMessage">
    <wsdl:part name="parameters" element="tns:SetRequestData" />
  </wsdl:message>
  <wsdl:message name="IInternal_SetRequestData_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetRequestDataResponse" />
  </wsdl:message>
  <wsdl:message name="IInternal_UnlockAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:UnlockAccount" />
  </wsdl:message>
  <wsdl:message name="IInternal_UnlockAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnlockAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IInternal_QueryAccessRequests_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryAccessRequests" />
  </wsdl:message>
  <wsdl:message name="IInternal_QueryAccessRequests_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryAccessRequestsResponse" />
  </wsdl:message>
  <wsdl:message name="IInternal_Cron_InputMessage">
    <wsdl:part name="parameters" element="tns:Cron" />
  </wsdl:message>
  <wsdl:message name="IInternal_Cron_OutputMessage">
    <wsdl:part name="parameters" element="tns:CronResponse" />
  </wsdl:message>
  <wsdl:portType name="IInternal">
    <wsdl:operation name="AccountDetailsGetByEmail">
      <wsdl:input wsaw:Action="http://tempuri.org/IInternal/AccountDetailsGetByEmail" message="tns:IInternal_AccountDetailsGetByEmail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInternal/AccountDetailsGetByEmailResponse" message="tns:IInternal_AccountDetailsGetByEmail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AccountDetailsGetByAccountID">
      <wsdl:input wsaw:Action="http://tempuri.org/IInternal/AccountDetailsGetByAccountID" message="tns:IInternal_AccountDetailsGetByAccountID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInternal/AccountDetailsGetByAccountIDResponse" message="tns:IInternal_AccountDetailsGetByAccountID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginTokenClaim">
      <wsdl:input wsaw:Action="http://tempuri.org/IInternal/LoginTokenClaim" message="tns:IInternal_LoginTokenClaim_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInternal/LoginTokenClaimResponse" message="tns:IInternal_LoginTokenClaim_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginTokenCreate">
      <wsdl:input wsaw:Action="http://tempuri.org/IInternal/LoginTokenCreate" message="tns:IInternal_LoginTokenCreate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInternal/LoginTokenCreateResponse" message="tns:IInternal_LoginTokenCreate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ServiceGrant">
      <wsdl:input wsaw:Action="http://tempuri.org/IInternal/ServiceGrant" message="tns:IInternal_ServiceGrant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInternal/ServiceGrantResponse" message="tns:IInternal_ServiceGrant_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ServiceRevoke">
      <wsdl:input wsaw:Action="http://tempuri.org/IInternal/ServiceRevoke" message="tns:IInternal_ServiceRevoke_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInternal/ServiceRevokeResponse" message="tns:IInternal_ServiceRevoke_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IInternal/LogEvent" message="tns:IInternal_LogEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInternal/LogEventResponse" message="tns:IInternal_LogEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetRequestData">
      <wsdl:input wsaw:Action="http://tempuri.org/IInternal/SetRequestData" message="tns:IInternal_SetRequestData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInternal/SetRequestDataResponse" message="tns:IInternal_SetRequestData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnlockAccount">
      <wsdl:input wsaw:Action="http://tempuri.org/IInternal/UnlockAccount" message="tns:IInternal_UnlockAccount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInternal/UnlockAccountResponse" message="tns:IInternal_UnlockAccount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryAccessRequests">
      <wsdl:input wsaw:Action="http://tempuri.org/IInternal/QueryAccessRequests" message="tns:IInternal_QueryAccessRequests_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInternal/QueryAccessRequestsResponse" message="tns:IInternal_QueryAccessRequests_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Cron">
      <wsdl:input wsaw:Action="http://tempuri.org/IInternal/Cron" message="tns:IInternal_Cron_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInternal/CronResponse" message="tns:IInternal_Cron_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IInternal" type="tns:IInternal">
    <wsp:PolicyReference URI="#BasicHttpBinding_IInternal_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AccountDetailsGetByEmail">
      <soap:operation soapAction="http://tempuri.org/IInternal/AccountDetailsGetByEmail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AccountDetailsGetByAccountID">
      <soap:operation soapAction="http://tempuri.org/IInternal/AccountDetailsGetByAccountID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginTokenClaim">
      <soap:operation soapAction="http://tempuri.org/IInternal/LoginTokenClaim" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginTokenCreate">
      <soap:operation soapAction="http://tempuri.org/IInternal/LoginTokenCreate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceGrant">
      <soap:operation soapAction="http://tempuri.org/IInternal/ServiceGrant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ServiceRevoke">
      <soap:operation soapAction="http://tempuri.org/IInternal/ServiceRevoke" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogEvent">
      <soap:operation soapAction="http://tempuri.org/IInternal/LogEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetRequestData">
      <soap:operation soapAction="http://tempuri.org/IInternal/SetRequestData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnlockAccount">
      <soap:operation soapAction="http://tempuri.org/IInternal/UnlockAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryAccessRequests">
      <soap:operation soapAction="http://tempuri.org/IInternal/QueryAccessRequests" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Cron">
      <soap:operation soapAction="http://tempuri.org/IInternal/Cron" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Internal">
    <wsdl:port name="BasicHttpBinding_IInternal" binding="tns:BasicHttpBinding_IInternal">
      <soap:address location="https://kylekilmerpc.nypti.org/Internal.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>