CrimeTime/Application/App_WebReferences/SSO/Internal42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://kylekilmerpc.nypti.org/Internal.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NYPTI.SSO" />
  <xs:element name="AccountDetailsGetByEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountDetailsGetByEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/NYPTI.SSO" minOccurs="0" name="AccountDetailsGetByEmailResult" nillable="true" type="q1:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountDetailsGetByAccountID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AccountDetailsGetByAccountIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/NYPTI.SSO" minOccurs="0" name="AccountDetailsGetByAccountIDResult" nillable="true" type="q2:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginTokenClaim">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Token" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ServiceID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginTokenClaimResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/NYPTI.SSO" minOccurs="0" name="LoginTokenClaimResult" nillable="true" type="q3:Token" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginTokenCreate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserID" type="xs:int" />
        <xs:element minOccurs="0" name="ServiceID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginTokenCreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginTokenCreateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceGrant">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element minOccurs="0" name="ServiceID" type="xs:int" />
        <xs:element minOccurs="0" name="ByAccountID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceGrantResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServiceGrantResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceRevoke">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element minOccurs="0" name="ServiceID" type="xs:int" />
        <xs:element minOccurs="0" name="ByAccountID" type="xs:int" />
        <xs:element minOccurs="0" name="Reason" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SuppressEmail" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceRevokeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServiceRevokeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element minOccurs="0" name="ServiceID" type="xs:int" />
        <xs:element minOccurs="0" name="ByWhom" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="EventType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="EventMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LogEventResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRequestData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element minOccurs="0" name="ServiceID" type="xs:int" />
        <xs:element minOccurs="0" name="RequestData" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRequestDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetRequestDataResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnlockAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AccountID" type="xs:int" />
        <xs:element minOccurs="0" name="ByAccountID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnlockAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UnlockAccountResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryAccessRequests">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServiceID" type="xs:int" />
        <xs:element minOccurs="0" name="DateFrom" type="xs:dateTime" />
        <xs:element minOccurs="0" name="DateThrough" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryAccessRequestsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/NYPTI.SSO" minOccurs="0" name="QueryAccessRequestsResult" nillable="true" type="q4:ArrayOfAccessRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cron">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CronResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CronResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>